footer{
  background-color: rgb(22, 22, 54);
  display: flex;
}

img{
  width: 100px;
  height: 100px;
}

h2{
  margin: 0;
  color: white;
}
/*
 <footer>

    <div>
      <section>
        <h2>Informations</h2>
      </section>

    <section>
      <h2>Web Pokédex</h2>
    </section>
    
    </div>
    <img src="assets/github.png" alt="github qr">
    
  </footer>

*/